<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dengke.dao.SubjectMapper">

    <select id="getAllTypes" resultType="SubjectType">

        select * from subject_type
    </select>

    <select id="getSubjects" resultType="Subject">

        select * from subject s
        where s.type = #{type}
        and s.status = #{status}
        order by s.id
    </select>



    <insert id="add">
        <selectKey keyProperty="id" resultType="Long" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into subject
        (title,option_a,score_a,option_b,score_b,
        option_c,score_c,option_d,score_d,option_e,score_e,
        option_f,score_f,type,status)
        values
        (#{title},#{optionA},#{scoreA},#{optionB},#{scoreB},
        #{optionC},#{scoreC},#{optionD},#{scoreD},#{optionE},#{scoreE},
        #{optionF},#{scoreF},#{type},#{status})
    </insert>

    <update id="updateStatus">
        update subject set status = #{status} where id = #{id}
    </update>
</mapper>