.ad-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.ad-main-container {
    width: 500px;
    height: 420px;
    margin: auto;
    margin-top: 100px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.3);
    animation: showAndMoveAnimation 0.3s;
    -webkit-animation: showAndMoveAnimation 0.3s;
}

.ad-title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgb(248, 248, 248);
    border-bottom: 1px solid lightgray;
}

.ad-span-left {
    padding-left: 10px;
}

.ad-span-option {
    width: 22px;
    display: inline-block;
}

.ad-score-select {
    margin-left: 10px;
    width: 60px;
    border: 1px solid #ffd8c8;
}

.ad-question-title {
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.ad-input-container {
    margin-top: 8px;
}

.ad-question-input {
    width: 472px;
    height: 60px;
    margin: auto;
    display: block;
    resize: none;
    border: 1px solid #ffd8c8;
    font-size: 16px;
}   

.ad-left {
    width: 400px;
    display: inline-block;
}

.ad-right {
    width: 80px;
    float: right;
    margin-right: 12px;
}

.ad-answer-input {
    width: 346px;
    height: 20px;
    margin-left: 10px;
    padding-left: 4px;
    border: 1px solid #ffd8c8;
    font-size: 13px;
}

.ad-action-container {
    margin-top: 20px;
    padding-right: 10px;
}

.ad-action {
    float: right;
    margin: 10px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.ad-confirm {
    color: white;
    background-color: #1E9FFF;
    border-color: #1E9FFF;
}

.ad-cancel {
    background-color: white;
    border: 1px solid #dedede;
}

@keyframes showAndMoveAnimation {
    from {
        opacity: 0;
        margin-top: 0px;
    }
    to {
        opacity: 1;
        margin-top: 100px;
    }
}

@-webkit-keyframes showAndMoveAnimation {
    from {
        opacity: 0;
        margin-top: 0px;
    }
    to {
        opacity: 1;
        margin-top: 100px;
    }
}