.cpw-bg {
    width: 100%;
    height: 100%;
    background-color: white;
}

.cpw-border-div {
    width: 100%;
    height: 15%;
}

.cpw-center-div {
    width: 100%;
    height: 50%;
}

.cpw-container {
    width: 300px;
    height: 300px;
    margin: auto;
    padding: 60px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #cccccc;
    box-shadow: 2px 2px 60px black;
}

.cpw-container span {
    width: 70px;
    display: inline-block;
}

.cpw-input {
    width: 196px;
    height: 30px;
    margin: 24px 0 0 0;
    border-radius: 4px;
    border: 1px solid lightgray !important;
    background-repeat: no-repeat;
    background-position-x: 2px;
    background-position-y: center;
    padding-left: 26px;
    font-size: 18px;
    outline: none;
}

.cpw-input:focus {
    border-color: #393D49 !important;
}

#cpw-input-account {
    background-image: url('../img/login-account.png');
    background-size: 22px 22px;
}

#cpw-input-pwd-old, #cpw-input-pwd-new, #cpw-input-pwd-confirm {
    background-image: url('../img/login-pwd.png ');
    background-size: 22px 22px;
}

.cpw-btn {
    width: 140px;
    height: 40px;
    display: inline-block;
    line-height: 38px;
    text-align: center;
    color: white;
    background-color: #393D49;
    border-radius: 4px;
    border: 1px solid #cccccc;
    margin-top: 30px;
    cursor: pointer;
}

#cpw-login {
    float: left;
}

#cpw-cancel {
    float: right;
}