body {
    background-color: #93b1e1;
}

.title-bar {
    height: 60px;
    padding: 0px 20px;
    background-color: #466f90;
}

.title-bar span {
    height: 60px;
    line-height: 60px;
    float: right;
    color: white;
}

#exit {
    margin: 0px 20px;
    cursor: pointer;
}

#exit:hover {
    color: rgb(196, 92, 92);
}

#frame {
    width: 800px;
    height: 620px;
    margin: 0 auto;
    background-image: url('../img/exam-frame.png');
    background-size: 100%;
}

.frame-center {
    float: left;
    width: 800px;
    text-align: center;
}

#title {
    height: 32px;
    margin-top: 170px;
    font-size: 14px;
    background-image: url('../img/exam-title-line.png');
    background-repeat: no-repeat;
    background-size: 600px 6px;
    background-position-x: center;
    background-position-y: bottom;
}

#type-name {
    margin: 10px auto;
    font-size: 20px;
    font-weight: 600;
    color: #6ACBFE;
}

.body {
    padding: 4px 8px;
    border: #d9d9d9 dashed 1px;
}

#question-index {
    font-weight: 600;
    font-size: 14px;
}

.frame-block {
    float: left;
    margin: 6px auto 2px 100px;
    width: 580px;
}

.frame-left {
    float: left;
    margin: 2px auto 2px 0px;
    width: 580px;
}

#question-title {
    height: 24px;
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
}

#question-option {
    font-size: 14px;
    line-height: 24px;
    border-top: #d9d9d9 dashed 1px;
}

.answer-div {
    padding: 6px 8px;
    background-color: #eff0ef;
    border: 1px #dddddd solid;
}

.answer-input {
    cursor: pointer;
    position: relative;
    top: 2px;
}

.action-div {
    padding: 6px 0px;
    width: 598px;
}

.action-button {
    width: 80px;
    margin: 0 10px 0 0;
    padding: 5px 0px;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.left-time {
    padding: 6px 0px;
    font-size: 12px;
    color: red;
    float: right;
}

#action-submit {
    background-color: blanchedalmond;
}