body {
    background-image: url('../img/index_bg.jpg');
    background-size: 100% 100%;
}

#index_title {
    color: burlywood;
    display: inline-block;
    margin: 20px;
    font-size: 26px;
    font-family: cursive;
    animation: showAnimation 0.5s;
    -webkit-animation: showAnimation 0.5s;
}

.border_div {
    width: 100%;
    height: 25%;
}

.center_div {
    width: 100%;
    height: 50%;
    text-align: center;
}

#index_container {
    width: 560px;
    height: 400px;
    margin: 0 auto;
}

.index_menu_item {
    width: 200px;
    height: 200px;
    float: left;
    margin: 0 40px;
    cursor: pointer;
    animation: showAndMoveAnimation 0.5s;
    -webkit-animation: showAndMoveAnimation 0.5s;
}

#index_menu_item1 {
    background-image: url('../img/index_menu_item1.png');
    background-size: 100% 100%;
}

#index_menu_item2 {
    background-image: url('../img/index_menu_item2.png');
    background-size: 100% 100%;
}

@keyframes showAndMoveAnimation {
    from {
        opacity: 0;
        margin-top: -80px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}

@-webkit-keyframes showAndMoveAnimation {
    from {
        opacity: 0;
        margin-top: -80px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes showAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes showAnimation {
    from {
        opacity: 0
    }
    to {
        opacity: 1;
    }
}